*{margin: 0; padding: 0;} 
body {
    padding-top: 75px;
    background: #f3f1f2;
}

.delete-margin{
	margin: 0px;
	padding: 0px;
}
.navbar{
	height: 75px;
}
.navbar-nav {
    flex-direction: row;
}
    
.nav-link {
	padding-right: .5rem !important;
	padding-left: .5rem !important;
}
    
    /* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
	left: auto !important;
	right: 0px;
}
ul{
	height: 100%;
}
li.nav-item{
    display: flex;
    align-items: center;
}
li.btnlogin{
	height: 100%;
	width: 200px;
	margin-left: 0px !important;
	background: #e94e38;
	display: flex;
	justify-content: center;
}
li.btnsearch{
	height: 100%;
	width: 75px;
	background: #e2dee0;
	display: flex;
	justify-content: center;
}
.white{
	color: white !important;
}
li.nav-item button{
	background: transparent;
	border: none;
}

/*END MENU*/

.mainhead{
	width: 100%;
	height: 375px;
	background: url("pictures/mainbackground.png");
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

.box{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	text-align: center;

}
.box h2{
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.box .topBox{
	text-align: center;
	margin-top: 30px;
}
.box .topBox select{
	display: inline;
	width: 285px;
	height: 50px;
	margin: 10px; 
	border: solid 1px #5e6b70;
	background: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding: 0px 20px;
	outline: none;
	color: rgba(255,255,255,0.5);
}


.box .inputBox{
	text-align: center;
	margin-top: 10px;
}
.box .inputBox input{
	width: 600px;
	height: 50px;
	border: solid 1px #5e6b70;
	background: rgba(0,0,0,0.5);
	border-radius: 25px;
	padding: 0px 20px;
	color: white;
	outline: none;
}

.box button{
	width: 150px;
	height: 60px;
	margin-top: 20px;
	background: #e94e38;
	border-radius: 30px ;
	color: white;
	border: none;
	outline: none;
	transition: .5s;
}
.box button:hover {
	background: #e94e38;
	box-shadow: 0px 0px 10px;
}
.box button:active {
	background: #e94e50;
	box-shadow: 0px 0px 5px;
}

@media only screen and (max-width: 980px) {
   .itemsinnav{
   		display: none;
   }
}
@media only screen and (max-width: 631px) {
   .leftitemsinnav{
   		display: none;
   }
   .box h2{
		display: none;
	}
	.box .inputBox input{
		width: 285px;
	}

}
/*post*/

.post .container .row{

	margin-top: 20px;
	margin-left: 10%;

}
.post .container .tilte {
	font-size: 30px; 
	font-weight: bold;
	text-transform: uppercase;
	color: #6c6c6c;

}
.post .container .tilte p{
	margin-bottom: 10px;
	border-bottom: solid 1px black;

}
.post .card{
	border: none;
	padding-left: 10%;
	padding-right: 10%;

}
.post .card .bg{
	display:hidden;
}
.post .card .bg .infor{
	position: relative;
	
}
.post .card .spacing{
	margin-top: 40px;
}
.post .card .cen{
	text-align: center;
	width: auto;
}
.post .card .bg .infor  input {
	width: 60%;
	margin-left: 5%;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 20px;
	position: relative;
	padding-left: 20px;
	border: none;
	border-bottom: 1px solid orange;
    background-color: white;
}
.post .card .bg .infor  input:focus {
	outline: none;
}
.post .card .bg .infor  select {
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 20px;
	width: 60%;
	margin-left: 5%;
	display: inline-block;
	border: none;
	border-bottom: 1px solid orange;
 	background-color: white;
	display: inline-block;
}
.post .card .bg .infor  select:hover {
	outline: none;
}
.post .card .bg .infor .deadline input {
	width: 60%;
	margin-top: 10px;
	margin-left: 5%;
	font-size: 20px;
	padding-left: 20px;
	position: relative;
	display: inline-block;
	border: none;
	border-bottom: 1px solid orange;
    background-color: white;
	
}
.post .card .bg .infor .coverimages input {
	width: 60%;
	margin-top: 10px;
	font-size: 20px;
	padding-left: 0px;
	position: relative;
	display: inline-block;
	border: none;
	border-bottom: 0px solid orange;
    background-color: white;
	
}
.post .card .bg .buttonbot {
    border: none;
    color: white;
    width: 70%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.post .card .bg .infor .buttonbot button {
	position: relative;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	width: 25%;
	height: 40px;
	background-color: white; 
    color: black; 
    border: 1px solid #f44336;
}
.post .card .bg .buttonbot  button:hover {
 	background-color: #f44336;
    color: white;
}
.post .card .bg .infor label{
	color: black;
	width: 20%;
	padding-top: 20px;
	font-size: 20px;
	text-align: left;
}
/*footer*/
.footer{
	width: 100%;
	height: 250px;
	position: relative;
}
.footer .bg{
	width: 100%;
	height: 250px;
	background:  url("pictures/footerbackground.png");
	background-attachment: fixed;
	background-size: cover;
}
.footer .blur{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
}
.footer .row{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 30px;
	text-align: center;
}
.footer h2{
	display: block;
	color: white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	text-decoration: underline;
}
.footer .lower{
	margin-top: 30px;
}
.footer .outside{
	display: inline-block;
	width: 60px;
	height: 60px;
	text-decoration: none;
	color: white;
	font-size: 32px;
}
.footer .reflink{
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 1px;
	margin: 2.5px; 
	background: black;
	border-radius: 15px;
	font-size: 12px;
}
.footer .r{
	color: white;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 10px;
}

